<!-- <header>
    <h1>A Warm Welcome!</h1>
    <p id="cabecera">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto consequatur amet reiciendis perspiciatis doloremque, libero ea veniam minus a molestias deleniti dolorem beatae dolor enim vero ratione fugiat. Illo, delectus.</p>
    <button type="button">Call to action!</button>
</header> -->

<ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  
<p> Recipe list comes here</p>

<hr>

<p>Shopping list comes here</p>

</body>